.loader {
  width: 0%;
  user-select: none;
  transition: width 0.2s ease-out;
}

.loader-progress {
  background: #4e5c4f;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 33%;
  height: 4px;
}

.loader-progress-complete {
  width: 100%;
  opacity: 0.8;
}

.loader_background {
  display: none;
}

.loader.loader-progress .loader_background {
  display: block;

  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  cursor: progress;
}
