.spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid rgba(19, 100, 193, 0.7);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: relative;
  transform: translateX(-50%);
  animation: spin 1s linear infinite;
  cursor: progress;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
